html{
    position:relative;
}

.border {
    text-align: center;
    width:600px;
    border-style:double;
    border-radius: 5%;
    border-width: 10px;
    border-color: maroon;
    height: fit-content;
    margin:auto;
}

.header{
    text-align: center;
    text-decoration-line: overline underline;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.recipe-image {
    margin: 40px 0 4px 0;
    height: 250px;
    text-align: center;
}

.ingredients {
    text-align: center;
    margin: 20px;
}

.direction {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 10px;
    text-decoration: wavy underline;
}
.list-center {
    display: inline-block;
    place-items: center;
    text-align: justify;
    margin-top: 0px;
    width : 400px;
}

li {
    padding: 5px
}

.back-button{
    text-align: right;
    display: block;
    width : fit-content;
    margin: 20px 35% 0 65%;
    padding: 5px;
    border: solid 2px black;
    border-radius: 50%;


}

a, a:visited   {
    text-decoration: none;
}